-gallery = ["1.jpg","2.jpg","3.jpg","4.jpg"]
!!!5
%html{class:"no-js","lang":"es"}
	%head
		%title Tortillas de harina
		%meta{charset:"utf-8"}
		%meta{name:"description", content:"come rico en el best restaurant"}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}

		
	
		%link{href:"https://cdn.jsdelivr.net/flexboxgrid/6.3.0/flexboxgrid.min.css", rel:"stylesheet"}
		%link{rel:"stylesheet", href:"estilos/normalize.css"}
		%link{rel:"stylesheet", href:"estilos/bootstrap.css"}

		%link{rel:"stylesheet", href:"./estilos/style.css"}


		%link{href:'https://fonts.googleapis.com/css?family=Dancing+Script', rel:'stylesheet', type:'text/css'}


		%meta{:"data-name" => "image-counter", content:"#{gallery.size-1}"}

		%script{src:"js/vendor/modernizr-2.8.3.min.js"}

	%body
								
		="<!--[if lt IE 9]>"
		%p{class:"browerupgrade"}
			Estas usando un navegador
			%strong desactualizado.
			Por favor
			%a{href:"http://browsehappy.com/"}
			actualiza tu navegador
			para una mejor experiencia 
		="<![endif]-->"
		.video-container
			%video{autoplay:true, muted:true, loop:true, width:"1280", height:"720", poster:"imagenes/tortillafondo.png"}
				%source{src:"videos/tortillas.mp4"} 
					
		.row.middle-xs.full-height.center-xs.relative.up#home
			.col-xs-12
				.box.white-text.sombratitle
					%img.redondear.sombratitle{src:"imagenes/logo.PNG", width:"19%"}
					%h1.dancing-script.title.no-margin TORTILLA DE HARINA
					%strong
						%p#is-open 
							%i.glyphicon.glyphicon-time 	 
							%span.text Abierto ahora
			%nav.fixed#navigation.top.right.white-text.navigation
				-menu = [{tittle:"Inicio",link:"#home"},{tittle:"Menu",link:"#menu"},{tittle:"Galeria",link:"#gallery"},{tittle:"Contacto",link:"#contact"},{tittle:"Donde estamos",link:"#location"}]

				%ul.list-inline
					-menu.each do |item|
						%li
							%a{href:item[:link]}= item[:tittle]
			.absolute.black.large-padding.white-text.full-width#description
				#description
					.row.middle-xs.center-xs
						.col-xs-7.col-sm-6.white-text.midium
							Tortilla de harina
						.col-xs.hidden#stick-Navigation
							.box
								%nav.text-right.navigation#responsive-nav
									%i.glyphicon.glyphicon-menu-hamburger.white-text.subtitle.glyphicon-remove#menu-opener

									%ul.list-inline
										-menu.each do |item|
											%li
												%a.menu-link{href:item[:link]}= item[:tittle]

		.text-center.relative#menu
			.absolute.white#menutitle
				%h2.dancing-script.title Menú

			-menu_comidas = [{name: "Tortilla de res", image:"res",pricing:"Q25.00"},{name: "Tortilla de pollo", image:"pollo",pricing:"Q25.00"},{name: "Mixta", image:"mixta",pricing:"Q25.00"},{name: "con piña", image:"pinna",pricing:"Q25.00"},{name: "Tortilla con queso", image:"queso",pricing:"Q25.00"},{name: "Mixta con queso", image:"mixtaqueso",pricing:"Q30.00"}]

			.row
				-menu_comidas.each do |photo|
					.col-md-4.col-lg-3.col-sm-6.col-xs-12.food{style: "background-image:url(/imagenes/food/#{photo[:image]}.png)"}
						.screen
							.row.middle-xs.full-height
								.col-xs-12.white-text
									.box
										%h3.dancing-script.subtitle= photo[:name]
										%p.no-margin= photo[:pricing]
		#gallery
			.inner
				-gallery.each do |image|
					.images{style:"background-image:url(/imagenes/fotos/#{image});"}
		



		.container
			.card.white.black-text.text-center.relative
				%h3.midium.slim
					En
					%strong.dancing-script.midium Tortilla de harina
					cocinar no es una profesión, no es una técnica, es un
					%strong.dancing-script.midium arte
				%p.top-space 
					Pater noster, qui es in caelis:
					sanctificetur Nomen Tuum;
					adveniat Regnum Tuum;
					fiat voluntas Tua,
					sicut in caelo, et in terra.
					Panem nostrum cotidianum da nobis hodie;
					et dimitte nobis debita nostra,
					sicut et nos dimittimus debitoribus nostris;
					et ne nos inducas in tentationem;
					sed libera nos a Malo.
					%strong.dancing-script.midium Coco - Chef
				

		.black.white-text.full-height#contact
			.row.middle-xs.full-height
				.col-xs-12
					.box
						%strong
							%h3.text-center.midium CONTACTANOS

						%p.text-center.midium#info-contacto Presiona enter despues de llenar el campo para continuar
						%form{action:"https://formspree.io/f/xbjqppkp",method:"POST",id:"contact-form",class:"step-form"}
							.row.center-xs
								.col-xs-12.col-md-2.col-md-1.first-sm
									.box
										-3.times do |i|
											-if i == 0
												.path-step.active
											-else
												.path-step
											
								.col-xs-12.col-sm-3.first-xs
									.box
										%fieldset.step.active
											%input{type:"email",name:"correo",placeholder:"Tu correo Electronico",class:"input", required:true}
										%fieldset.step
											%input{type:"text",name:"name",placeholder:"Tu nombre",class:"input",required:true}
										%fieldset.step
											%textarea{name:"body",placeholder:"mensaje",class:"input",required:true}

		#location
			#map
			#message.black.large-padding.white-text.text-center.midium Estamos aquí!
			




		%script{src:"https://code.jquery.com/jquery-3.6.0.min.js", integrity:"sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=",crossorigin:"anonymous"}
		%script
			window.jQuerry || document.write("<script src='/js/vendor/jquery-1.12.0.min.js'><\/script>")

		%script{src:"https://maps.googleapis.com/maps/api/js?key=AIzaSyB_5tgBRZgihX7Sdz3ATgEv7ogYiGLtjew"}
		
		%script{src:"/dist/maps.js"} 
		%script{src:"/dist/form-objetc.js"}
		%script{src:"/dist/main.js"}
		%script{src:"/dist/steps.js"}
						
				
			

			

		
